{% include "header.html" %}
<body>
    <main>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{{ url_for('feed')}}">al_Capun</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('feed')}}">Feed <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('file_upload')}}">File Upload</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('statistics')}}">Statistics</a>
              </li>

            </ul>
          </div>
        </nav>
        <div class="container mt-5">
          <div class="pt-5 pb-2 mx-auto text-center">
            <h1 class="display-4">Upload</h1>
            <p class="lead">Thanks for uploading and sharing your files with the community.</p>
          </div>
        </div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10 col-lg-8 mt-5 mb-5">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="my-0 font-weight-normal">Please enter your data.</h5>
                        </div>
                        <div class="card-body">

                            <form method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="file_title">Titel</label>
                                    <input type="text" name="file_title" class="form-control" id="file_title" placeholder="Title">
                                </div>
                                <div class="form-group">
                                    <label for="name">Author name</label>
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Author name">
                                </div>
                                <div class="form-group">
                                    <label for="file_name">File name</label>
                                    <input type="text" name="file_name" class="form-control" id="file_name" placeholder="File_name">
                                </div>
                                <div class="form-group">
                                    <label for="description">Content description</label>
                                    <textarea class="form-control" name="description" id="description" placeholder="Text goes here..." rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                  <label>Select image</label>
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="image" id="image">
                                    <label class="custom-file-label" for="image">Select image...</label>
                                  </div>
                                </div>    
                                <button type="submit" class="btn btn-outline-dark mt-4">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
{% include "footer.html" %}