<div class="container mt-5">
    
    <footer class="pt-4 my-md-5 pt-md-5 border-top"> <!-- Footer -->
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; al-Capun, 2020</small>
        </div>
        <div class="col-6 col-md">
            <h5>Helpers</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://pythonise.com/series/learning-flask/flask-uploading-files#">Uploading files with Flask</a></li>
                <li><a class="text-muted" href="https://flask.palletsprojects.com/en/1.1.x/">Flask Documentation</a></li>
                <li><a class="text-muted" href="https://plotly.com/python/bar-charts/">Plotly bar chart</a></li>
                <li><a class="text-muted" href="https://stackoverflow.com/">Stack Overflow</a></li>
                <li><a class="text-muted" href="https://getbootstrap.com/docs/4.5/getting-started/introduction/">Bootstrap Documentation</a></li>
                <li><a class="text-muted" href="https://jinja.palletsprojects.com/en/2.11.x/">Jinja Documentation</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Code</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://github.com/al-Capun/PROG2">Git Hub Repo</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Ersteller</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" >Antonin Friberg</a></li>
                <li><a class="text-muted" >DBM18TZ</a></li>
                <li><a class="text-muted" >FHGR</a></li>

            </ul>
        </div>
    </div>
</footer>
</div> <!-- Footer -->
</div> <!-- container -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>